*{  
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}
body{
 width: 100%;
    background: none;
    color: white;
    box-shadow: 2px 5px 5px #000;

}

.header{box-shadow: 2px 5px 5px #000;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 8px 10%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    background-image: linear-gradient(to left bottom, lightblue, blue);
   }
.logo{box-shadow: 2px 5px 5px #000;
    width: 5%;
    border-radius: 50%;
    cursor: default;
}

.navbar a{

    font-size:1.2em;
    color:#fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    transition: .3s;
}
.navbar a:hover{
    text-shadow: 2px 5px 5px #000;
}
.navbar .active{
    text-shadow: 2px 5px 5px #000;
}

@media(max-width:600px){
    
.header{box-shadow: 2px 5px 5px #000;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 5px 3px;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 50;
    background-image: linear-gradient(to left top, lightblue, blue, navy);
   }
.logo{box-shadow: 2px 5px 5px #000;
    width: 60px;
    border-radius: 50%;
    cursor: default;
    
}

.navbar a{
    font-size:1;
    color:#fff;
    margin-left: 1px;
    text-decoration: none;
    font-weight: 500;
    transition: .3s;
}
.navbar a:hover{
    text-shadow: 2px 5px 5px #000;
}
.navbar .active{
    text-shadow: 2px 5px 5px #000;
}
}